body {
  font-family: var(--primary-font);
  background-color: var(--white-color);
  color: var(--primary-text-color);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 1px dashed red; */
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  color: var(--secondary-text-color);
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --black-color: #000000;
  --background-color-footer: #2f303a;
  --background-color-section: #f5f4fa;
  --icon-color: #afb1b8;
  --primary-font: "Roboto", "Arial", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0;
  padding-left: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.03em;
}

.logo__accent {
  color: var(--accent-color);
}

.header__logo {
  color: var(--black-color);
}

.footer__logo {
  color: var(--white-color);
  display: inline-block;
  margin-bottom: 20px;
}

.button {
  background-color: var(--accent-color);
  color: var(--white-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color var(--transition), box-shadow var(--transition);
}

.member-card {
  flex-basis: calc((100% - 90) / 4);
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.member-card:not(:first-child) {
  margin-left: 30px;
}

.member-card__content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.member-card__name {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}

.member-card__position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}

.soc-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.soc-list__icon {
  fill: currentColor;
}

.soc-list__item {
  width: 44px;
  height: 44px;
}

.soc-list__item:not(:first-child) {
  margin-left: 10px;
}

.soc-list__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color var(--transition), background-color var(--transition);
}

.soc-list__link--greyColor {
  color: var(--icon-color);
  background-color: var(--white-color);
}

.soc-list__link--whiteColor {
  color: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.soc-list__link:hover, .soc-list__link:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.sign-up {
  margin-left: auto;
}

.sign-up__title {
  color: var(--white-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.sign-up__form {
  display: flex;
  align-items: center;
}

.sign-up__icon {
  margin-left: 10px;
}

.sign-up__input {
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
  border-radius: 4px;
  background-color: transparent;
  padding: 15px 16px;
}

.sign-up__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.sign-up__button {
  width: 200px;
  display: flex;
  align-items: center;
  padding: 10px 28px 10px 29px;
  margin-left: 12px;
}

.sign-up__button:hover {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter__item:not(:first-child) {
  margin-left: 8px;
}

.filter__button {
  background-color: var(--background-color-section);
  color: var(--secondary-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
  margin-bottom: 50px;
  transition: color var(--transition), background-color var(--transition), box-shadow var(--transition);
}

.filter__button:hover, .filter__button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.product-card {
  width: 370px;
  margin-left: 30px;
  margin-top: 30px;
}

.product-card__wrapper {
  position: relative;
  overflow: hidden;
}

.product-card__content {
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding: 20px 24px;
}

.product-card__name {
  color: var(--secondary-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  margin-bottom: 4px;
}

.product-card__description {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  text-align: left;
}

.product-card__link {
  transition: box-shadow var(--transition);
}

.product-card__link:hover, .product-card__link:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product-card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  transform: translatey(100%);
  transition: transform var(--transition);
}

.product-card__link:hover .product-card__overlay,
.product-card__link:focus .product-card__overlay {
  transform: translatey(0);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.8) rotate(90deg);
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal__button:hover .modal__icon {
  fill: var(--accent-color);
}

.form__title {
  color: var(--secondary-text-color);
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
}

.form__field {
  position: relative;
  /* outline: 1px dashed red; */
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form__field--distance {
  margin-bottom: 20px;
}

.form__label {
  color: var(--primary-text-color);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.form__input {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-right: 11px;
  padding-left: 42px;
  transition: border-color var(--transition);
}

.form__field:focus-within .form__input {
  outline: none;
  border-color: var(--accent-color);
}

.form__icon {
  position: absolute;
  bottom: 10px;
  left: 11px;
  fill: var(--secondary-text-color);
  transition: fill var(--transition);
}

.form__field:focus-within .form__icon {
  fill: var(--accent-color);
}

.form__textarea {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  transition: border-color var(--transition);
}

.form__textarea::placeholder {
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__field:focus-within .form__textarea {
  outline: none;
  border-color: var(--accent-color);
}

.form__button {
  display: block;
  align-items: center;
  padding: 10px 55px 10px 56px;
  margin-left: auto;
  margin-right: auto;
}

.form__button:hover {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.accept {
  /* outline: 1px dashed red; */
  position: relative;
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  padding-left: 36px;
  margin-bottom: 30px;
}

.accept__link {
  color: var(--accent-color);
  text-decoration: underline;
}

.accept__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 16px;
  height: 15px;
  border: 2px solid var(--secondary-text-color);
  border-radius: 4px;
}

.accept__checkbox:checked + .accept__icon {
  background-color: var(--accent-color);
  background-image: url(../images/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
}

.main-nav__list {
  display: flex;
  align-items: center;
}

.main-nav__item {
  position: relative;
  margin-left: 50px;
}

.main-nav__item:first-child {
  margin-left: 93px;
}

.main-nav__link, .header__contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--transition);
}

.main-nav__link {
  position: relative;
  color: var(--secondary-text-color);
}

.main-nav__link--active {
  color: var(--accent-color);
}

.main-nav__link--active::after {
  position: absolute;
  bottom: 0px;
  left: 0px;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.main-nav__link:hover, .main-nav__link:focus {
  color: var(--accent-color);
}

.header__contacts {
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.header__contacts--start {
  margin-left: auto;
}

.header__contacts:hover, .header__contacts:focus {
  color: var(--accent-color);
}

.header__icon {
  fill: currentColor;
  margin-right: 10px;
}

.hero {
  max-width: 1600px;
  background-color: var(--background-color-footer);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__title {
  max-width: 696px;
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.hero__button {
  display: block;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
}

.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.features__list {
  display: flex;
  align-items: center;
}

.features__item {
  flex-basis: calc((100%-90) / 4);
}

.features__item:not(:first-child) {
  margin-left: 30px;
}

.features__icon {
  width: 270px;
  height: 120px;
  background-color: var(--background-color-section);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.features__name {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 10px;
}

.features__description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
}

.activity {
  padding-top: 0px;
}

.activity__list {
  display: flex;
  align-items: center;
}

.activity__item {
  position: relative;
}

.activity__item:not(:first-child) {
  margin-left: 30px;
}

.activity__name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
}

.team {
  background-color: var(--background-color-section);
}

.team__card-set {
  display: flex;
  align-items: center;
}

.clients__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients__item {
  width: 170px;
  height: 92px;
}

.clients__item:not(:first-child) {
  margin-left: 30px;
}

.clients__link {
  width: 100%;
  height: 100%;
  color: var(--icon-color);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color var(--transition), border-color var(--transition);
}

.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.clients__icon {
  fill: currentColor;
}

.footer {
  background-color: var(--background-color-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.contacts__link {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  transition: color var(--transition);
}

.contacts__link--color {
  color: var(--white-color);
}

.contacts__link--alphaColor {
  color: rgba(255, 255, 255, 0.6);
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

.contacts__item:not(:last-child) {
  margin-bottom: 9px;
}

.join-up {
  margin-left: 70px;
}

.join-up__title {
  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
/*# sourceMappingURL=main.css.map */